body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.profile-container {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("../Assets/dietBackground.jpg");
    background-size: cover;
    background-position: center;
}

.profile-overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.profile-info {
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
}

.profile-info h2 {
    margin: 0;
    font-size: 1.5em;
    color: white;
}

.profile-info .edit-icon {
    font-size: 1em;
    color: lightgray;
    cursor: pointer;
}
.popup-content > input {
    border-radius: 5px;
    border: solid black 1px;
    width: 300px;
    height: 30px;
}
.popup-content > div {
    margin-top: 10px;
    height: 60px;
}
.popup-content > div > label {
    margin: 10px;
}
.popup-content > div > h3 {
    margin-bottom: 10px;
}
.popup-content > button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #ff6f61;
    color: white;
    cursor: pointer;
    margin-left: 50%;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .profile-container {
        height: 300px;
    }

    .profile-picture {
        width: 120px;
        height: 120px;
    }

    .profile-info h2 {
        font-size: 1.5em;
    }
}
