.view {
    width: 100%;
    background-image: url("../Assets/dietBackground.jpg");
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}
.view > h2 {
    padding: 20px 20px 15px 20px;
    color: #ff6f61;
}
.meeting-container {
    padding: 20px 20px;
}
.meeting-container > div {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(233, 233, 233, 0.7);
}
.join-button {
    padding: 8px 16px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.join-button:hover {
    background-color: #ff5e50;
}
