.controls {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    position: absolute;
    top: 10%;
    left: 10%;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.canvas-container > div {
    padding: 0 3%;
    width: 97%;
    overflow: hidden;
}
.canvas-container > h1 {
    text-align: center;
}
.controls form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controls label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.controls select {
    padding: 5px;
    width: 200px;
}
.textarea {
    border: black solid 1px;
    padding: 5px;
    border-radius: 5px;
}
.controls button {
    padding: 5px 10px;
    background: #ff6f61;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.controls button:hover {
    background: #ff5e50;
}
.Model {
    position: relative;
    top: 0%;
    z-index: 10;
}

.Model > button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
.Model > button :hover {
    background: #ff5e50;
}
.Model > ul {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 15px;
    list-style: none;
}
.green {
    color: green;
    display: flex;
    align-items: center;
}
.green > div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: green;
    margin: 2px;
}
.yellow {
    color: #e5ff00;
    display: flex;
    align-items: center;
}
.yellow > div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #e5ff00;
    margin: 2px;
}
.red {
    color: red;
    display: flex;
    align-items: center;
}
.red > div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    margin: 2px;
}
