* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.table-container {
    width: 90%;
    margin: 0 auto;
}
.ban-button {
    height: 25px;
    border-radius: 5px;
    background-color: #ff6f61;
    cursor: pointer;
    width: 50px;
}
.createBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.createBtn button {
    width: 100px;
    cursor: pointer;

    height: 30px;
    background-color: #ff6f61;
    border-radius: 5px;
}
