* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.table-container {
    width: 90%;
    margin: 0 auto;
}
.ban-button {
    height: 25px;
    border-radius: 5px;
    background-color: #ff6f61;
    cursor: pointer;
    width: 50px;
}
.createBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.createBtn button {
    width: 100px;
    cursor: pointer;

    height: 30px;
    background-color: #ff6f61;
    border-radius: 5px;
}

.input-create {
    border: solid 1px;
    height: 20px;
    border-radius: 5px;
}
.createForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto;
}

.formGroup {
    margin-bottom: 10px;
}
.createForm button {
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;

    height: 25px;
}
.cancelBtn {
    background-color: #3bbdb7;
}
.submitBtn {
    background-color: #ff6f61;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    z-index: 2;
}

.centere {
    display: flex;
    z-index: 5;
    justify-content: center;
}

.nav {
    display: flex;
    z-index: 1;
    padding: 10px;
    width: 98%;
    height: 70px;
    color: black;
    align-items: center;
    justify-content: space-between;
}

.nav > ul {
    display: flex;
    flex-grow: 0.8;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    margin: 0 20px;
}

.nav ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0.8;
    height: 100%;
    padding: 0 10px;
    transition: all 0.5s;
}

.nav > ul > li > span {
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.nav ul > li > span:hover {
    color: #ff6f61;
    text-decoration: underline;
}

.nav > button {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: #ff6f61;
    cursor: pointer;
}

.nav img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    cursor: pointer;
}
