Diet .css .recommended-section {
    padding: 20px;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    overflow: scroll;
    margin: 20px 0;
}
