.recommended-section {
    padding: 20px;
    text-align: left;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    overflow: scroll;
    margin: 20px 0;
}
