.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.popup-content > input {
    border-radius: 5px;
    border: solid black 1px;
    width: 300px;
    height: 30px;
    padding: 5px;
}
.training-selection > select {
    min-width: 40px;
    border: 1px solid black;
    border-radius: 5px;
}
.training-selection > button {
    background-color: #ff6f61;
    margin-top: 5px;
    border-radius: 5px;
    color: white;
    align-items: center;
    height: 20px;
    width: fit-content;
    padding: 5px;
}
.training-list button {
    background-color: #ff6f61;
    margin-top: 5px;
    border-radius: 5px;
    color: white;
    align-items: center;
    height: 20px;
    width: fit-content;
    padding: 5px;
}
.training-list {
    height: fit-content;
    overflow-y: scroll;
}
.popup {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: left;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 5px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.popup-content ul {
    list-style: none;
    padding: 0;
}

.popup-content ul li {
    margin-bottom: 2px;
}
.action-buttons {
    display: flex;
    gap: 10px;
}
